<script>
    $(function () {
        $("#resetPasswordBt").on("click", function () {
            var p = $.trim($("#currentPassword").val());
            var p1 = $.trim($("#newPassword").val());
            var p2 = $.trim($("#confirmPassword").val());

            if (p == "") {
                tip("请先输入当前密码");
                return;
            }

            if (p1.length < 6) {
                tip("新密码长度必须至少位6位字符，重置失败");
                return;
            }
            if (p1 != p2) {
                tip("新密码与确认密码不一致，重置失败");
                return;
            }

            $.post("ResetPassword", { oldP: p, newP: p1 }, function (data) {                
                tip(data.msg);
            });

        });
    });
</script>

<div class="easyui-panel" data-options="fit:true">
    <table style="width:100%;padding:20px;">
        <tr>
            <td style="width:100px;">
                当前密码:
            </td>
            <td>
                <input type="password" class="easyui-textbox" id="currentPassword" data-options="prompt:'请输入当前密码'" />                
            </td>
        </tr>
        <tr>
            <td>
                新密码:
            </td>
            <td>
                <input type="password" class="easyui-textbox" id="newPassword" data-options="prompt:'请输入至少6位字符新密码'" />
            </td>
        </tr>
        <tr>
            <td>
                确认新密码:
            </td>
            <td>
                <input type="password" class="easyui-textbox" id="confirmPassword" data-options="prompt:'请重复输入一次新密码'" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a class="easyui-linkbutton c8" id="resetPasswordBt" href="#"><i class="fa fa-check"></i> 重置密码</a>
            </td>
        </tr>
    </table>
</div>