
<div class="easyui-panel" data-options="fit:true" style="padding:12px 24px;">
    <div class="helperContent">
        <div class="text-primary">
            <div style="font-size:14px;"> 请按照以下文字及动态操作指引设置google chrome或者360极速浏览器的打印设置：</div>
            <div style="padding-left:24px;">
                1. 设置浏览器最小字体为10px；
            </div>
            <div style="padding-left:24px;">
                2. 打印预览界面设置纸张尺寸为标签纸尺寸；
            </div>
            <div style="padding-left:24px;">
                3. 打印预览界面设置边距为最小值；
            </div>
            <div style="padding-left:24px;">
                4. 打印预览界面设置页眉页脚不显示；
            </div>
        </div>
        <img src="@Url.Content("~/Content/doc/print_setting.gif")"  />

    </div>
</div>